langchain
langchain_openai
langchain_groq
scikit-learn
matplotlib
python-dotenv
langchain-community
fitz
rank-bm25
PyMuPDF
deepeval
fastembed
pypdf
faiss-cpu
chromadb
langgraph
langsmith==0.1.83
markitdown
python-docx
streamlit
langchain_chroma
langchain_google_vertexai